@CHARSET "UTF-8";

.task_manager_container {}
.task_manager_container .grid_pager {display:inline-block; float:right;}
.task_manager_container .title {padding: 2px!important;
    margin: 0;
    background-color: #499AB2;
    color: #FFF;
    font-size: 14px!important;
    line-height: 25px!important;
    padding-left: 5px!important;
    margin-top: 5px;}

.task_manager_container .menus .menu {}

.task_manager_container .title .grid_pager {}

.task_manager_container .data_grid {}
