@CHARSET "UTF-8";

/* 重写 summernote 样式 */
.note-editable .panel-body {min-height:240px;}

.issue_ctnr {}
.issue_ctnr li {list-style:none;}
.issue_ctnr .menus {padding:5px; border-bottom:2px solid #EEE;}
.issue_ctnr .issue_list {margin-top:10px;}
.issue_ctnr .issue_list .list ,
.issue_ctnr .issue_list .detail {display:inline-block;  height:350px;}
.issue_ctnr .issue_list .list {width:30%; float:left; border-right:2px solid #499AB2; border:2px solid #499AB2; border-top:0;}
.issue_ctnr .issue_list .list .issues {width:100%; padding:2px;}
/* CSS3 issue 动画 */
.issue_ctnr .issue_list .list .issues .issue {
    padding:5px;
    cursor:pointer;
    width:100%;
    margin-left:0;
    background-color:#FFF;
    transition:margin-left .25s, background-color 1s;
    -moz-transition:margin-left .25s, background-color 1s;  /* Firefox 4 */
    -webkit-transition:margin-left .25s, background-color 1s;   /* Safari 和 Chrome */
    -o-transition:margin-left .25s, background-color 1s;    /* Opera */
}
.issue_ctnr .issue_list .list .issues .issue:hover {color:#F00; position:relative; margin-left:7px; border-right:5px solid #FFFFC6; background-color:#FFFFC6;}
.issue_ctnr .issue_list .list .issues .issue.current {color:#F00; position:relative; margin-left:7px; border-right:4px solid #499AB2; background-color:#BDDAE3;}

.issue_ctnr .issue_list .detail {width:70%; padding-left:2px; position:relative;}
.issue_ctnr .issue_list .detail .full_ctnr_background {width:100%; height:100%; border:1px solid #499AB2;}

.issue_ctnr .issue_list .detail .full_ctnr_dialog {position:absolute; top:0; height:100%; width:100%;}
.issue_ctnr .issue_list .detail .full_ctnr_dialog label {text-align:left;}
.issue_ctnr .issue_list .detail .full_ctnr_dialog .form_ctnr {overflow:hidden; overflow-y:auto; height:90.5%; border:2px solid #499AB2; padding:5px; background-color:#FFFFC6;}
.issue_ctnr .issue_list .detail .full_ctnr_dialog .form_ctnr .show_container {border:1px solid #025249; padding:5px; border-radius:4px; background-color:#EEE; display:none;}
.issue_ctnr .issue_list .detail .full_ctnr_dialog .form_ctnr .show_container ,
.issue_ctnr .issue_list .detail .full_ctnr_dialog textarea {resize:none; height:100px; overflow:auto;}
.issue_ctnr .issue_list .fulled .show_container {height:300px!important;}
